@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>Sample app for deployment to Azure App Service. CI/CD</p>
    <h1>Now lets try the swap</h1>
</div>
