@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>Sample app for deployment to Azure App Service. CI/CD</p>
    <h1>Testing github deploy from the Poconos on 1/12/2025</h1>
</div>
